nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
        .btn-group.btn-group-justified.btn-group-sm
          a.btn.btn-default.active(href='/')
            span.glyphicon.glyphicon-home
            br
            | Home
          a.btn.btn-default(href='/')
            span.glyphicon.glyphicon-time
            br
            | Timer
          a.btn.btn-primary(href='/')
            span.glyphicon.glyphicon-dashboard
            br
            | Rush
          a.btn.btn-default(href='/')
            span.glyphicon.glyphicon-list
            br
            | Results
          a.btn.btn-default(href='/')
            span.glyphicon.glyphicon-user
            br
            | Friends
