extends layout

block content
  img(style='width: 100%; margin: 50px auto; display: block;', src='img/logo-full.png')

  a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
    i.fa.fa-facebook
    | Sign in with Facebook


  p.lead
